@import 'tailwindcss';

@theme {
    --color-ink: #5d5a53;
    --color-muted: #959595;
    --color-accent: #95c8cc;
    --color-accent-soft: #b9cece;
    --color-paper: #e5e3de;

    --font-body: 'DM Sans', sans-serif;
    --font-heading: "DM Sans", sans-serif;
}

body {
    @apply font-body text-ink/90 bg-paper antialiased;
}

p {
    @apply leading-relaxed text-ink/80;
}

h2 {
  @apply font-heading text-3xl text-ink;
}

h3 {
  @apply font-heading text-xl text-accent;
}